<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<title class="siteValue" id="title">信产无验证</title>
<link href="/assets/portal/auth_module/css/authorize.css" rel="stylesheet" media="screen"><link href="/assets/portal/template/xcgs/css/template.css" rel="stylesheet" media="screen">
<script src="/assets/portal/auth_module/js/jquery-1.11.0.min.js"></script><script src="/assets/portal/template/xcgs/js/template.js"></script><script src="/assets/portal/auth_module/js/authorize_auto.js"></script><script src="/assets/portal/template/xcgs/js/smallslider.js"></script>



<script type="text/javascript">$(document).ready(function(){MyTemplate.init();})</script>

<style type="text/css">body {margin:0px;padding:0px;}</style>
</head>
<body>
<script type="text/javascript" src="/assets/portal/auth_module/js/jquery.client.js"></script></body></html>
