<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<title class="siteValue" id="title">2016新一代互联网基础设施论坛</title>
<link href="/assets/portal/auth_module/css/authorize.css" rel="stylesheet" media="screen"><link href="/assets/portal/template/xcgs/css/template_te.css" rel="stylesheet" media="screen">
<script src="/assets/portal/auth_module/js/jquery-1.11.0.min.js"></script><script src="/assets/portal/template/xcgs/js/template_hy.js"></script><script src="/assets/portal/auth_module/js/authorize_bm.js"></script>
<script src="/assets/portal/template/xcgs/js/smallslider_hy.js"></script>



<script type="text/javascript">
 
$(document).ready(function(){
MyTemplate.init()
	$.ajax({
		url:'http://wifi.smbiztalk.cn/welcome/ioswificheck.php',
		type:'GET',
		dataType:'JSONP',
		jsonp:"getResultRequest",
		data:{auth_id:""},
		success:function(data){
		}
	});


;})
</script>

<style type="text/css">body {margin:0px;padding:0px;}</style>
</head>
<body>
<div class="portalTemplateBody" style="height:660px">
<div class="siteModules" id="siteLogoViewModuleBox" title="Logo信息">
<div id="Logo001" class="ggtop bs-docs-nav contentImage siteComponent" style="width: 480px;background-color:  rgb(0, 144, 218);">
<p style="color:#fff">中国电信北京研究院<br>2016新一代互联网基础设施论坛</p>
</div>
</div>
<div class="siteModules" id="siteSliderModuleBox" title="广告轮播" style="width: 481px; height: 530px;">
<a href="javascript:;" class="sliderBrowse" id="sliderToPrev" style="top: 60px; width: 60px; height: 120px; background-size: 58px 120px;display: none;">&nbsp;</a>
<a href="javascript:;" class="sliderBrowse" id="sliderToNext" style="top: 60px; width: 60px; height: 120px; background-size: 58px 120px;display: none;">&nbsp;</a>
<div class="sliderNavigator" style="width: 83px; left: 208.5px; display: none;"></div>
<div class="sliderNavigator" id="sliderNaviList" style="width: 83px; left: 208.5px;display:none"><a href="javascript:;" class="">&nbsp;</a><a href="javascript:;" class="">&nbsp;</a><a href="javascript:;" class="active">&nbsp;</a></div>
<div id="Slider001" class="sliderItem siteComponent" style="">
<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/new.png" class="siteResource"></a>
</div>
</div>
<div id="siteColumnModuleBox1" class="siteModules divTitle" title="栏目名称"  style="display:none">
<div id="column101" class="contentTitle siteComponent">
<span id="title" class="siteValue">大会背景 / MEETING BACKGROUND </span>
</div>
</div>
<div class="siteModules" id="siteLoginModuleBox" role="auth" platsvraddr="101.78.1.111" title="用户登陆" style="width: 480px;"><div class="auth-type-components"><div class="auth-type-components-view"><div class="auth-type-body auth-option" id="OPTION"></div></div><div class="auth-type-list-item"><ul><li><a href="javascript:;" class="option">&nbsp;</a></li></ul></div><div class="auth-component-button" style="display: block;background: #0090DA;"><button class="fee-wifi-config" style="background: #0090DA;font-size:16" type="button">点击免费上网a</button></div></div></div>
</div>
<iframe src="http://wifi.smbiztalk.cn/welcome/ioswificheck.php" frameborder=0 width=0 height=0 scrolling="No" style="display: none;">
</iframe>

<script type="text/javascript" src="/assets/portal/auth_module/js/jquery.client.js"></script></body></html>
